.section4 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  @font-face {
    font-family: 'Bw Nista Grotesk DEMO';
    src: url('../BwNistaGroteskDEMORegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FONTSPRING DEMO - Geon Expanded Black';
    src: url('../Fontspring-DEMO-geon-black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  .row1 {
    height: 15%;
    width: 100%;
    display: flex;
    text-align: center;
  }

  .text-container-2 {
    align-items:center;
    justify-content: center;
    width: 100%;
  }
  
  .solution-text {
    font-family: 'FONTSPRING DEMO - Geon Expanded Black';
    font-size: 88px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
    background: linear-gradient(to right, #B228FF, #29CCFD);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .focus-areas-text {
    font-family: 'Bw Nista Grotesk DEMO', sans-serif;
    font-size: 88px;
    font-weight: 400;
    line-height: 95px;
    text-align: center;
    color: #ffffff; 
  }


  .row2 {
    height: 85%;
    padding: 0 90px; /* 90px padding from left and right */
    display: flex;
    justify-content: space-between; /* Equally space columns */
    align-items: center; /* Center columns vertically */
  }

  .columns-container {
    margin-left: 150px;
    margin-top: -10px;
    display: flex;
    width: calc(100% - 300px); /* Subtracting the 90px padding from both sides */
    justify-content:space-around; /* Even spacing between columns */
  }

  .column4 {
    width: calc((100% - 3 * 20px) / 4); /* Adjusted width considering 20px gap between columns */
    height: 450px;
    border-radius: 20px; /* Rounded corners */
    border: 1.5px solid transparent; /* Transparent border by default */
    background-color: rgba(255, 255, 255, 0.05); /* Default background color */
    display: flex;
    flex-direction: column; /* Column layout for rows */
    /* transition: background 0.3s ease, border-color 0.3s ease; Smooth transition for background and border */
  }
  
  .column4:hover {
    background: linear-gradient(
      to bottom right,
      rgba(179, 38, 255, 0.2) 20%, /* Top-left shade */
      rgba(255, 255, 255, 0.05) 40%, /* Mid gradient */
      rgba(46, 196, 254, 0.2) 80% /* Bottom-right shade */
    );
    border-color: white; /* Border becomes white on hover */
  }
  

 .column-row {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .column-row:nth-child(1) {
    height: 40%;
    align-items: center;
    /* background-color:#B228FF; Example color */
    color: #ffffff;
  }


  .icon4 {
    width: 120px;
    height: 120px;
    /* background: linear-gradient(to right, #2ACAFD, #A834FF, #FFFFFF); */
    border-radius: 0%; /* Make it circular */
  }

  
  .column-row:nth-child(2) {
    height: 20%;
    align-items: center;
    /* background-color: #ccffcc; Example color */
  }

  .heading {
    font-family: 'Bw Nista Grotesk DEMO', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  .column-row:nth-child(3) {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .explaination {
    width: 250px;
    font-family: 'Bw Nista Grotesk DEMO',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  
  
  .column-row:nth-child(4) {
    height: 10%;
    /* background-color: #ffccff; Example color */
  }


  .learn-more {
    font-family: 'Bw Nista Grotesk DEMO', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: top;
    color: white; /* Example link color */
    text-decoration: none;
  }
  
  .learn-more:hover {
    text-decoration: underline;
  }
  
  